@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: transparent;
  margin: 20px 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

}

ul {
  display: flex;
  gap: 40px;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0;
}

a {
  color: #ffffffbe;
  text-decoration: none;
}


a:hover {
  color: #fff;
}

/*-----------------------*/

/* Blog Page */


.ssr-styles {
  margin: auto;
  padding: 15px 20px;
  width: 60%;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: flex-start;
}


.ssr-styles:last-child {
  margin-bottom: 100px;
}

.ssr-styles-inside {
  flex-direction: column;
}

.ssr-styles-inside h3,
h2,
p {
  margin: 5px;
}

.ssr-styles h3 {
  padding: 20px;
  width: 30px;
  height: 30px;
  background-color: #189cf0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.ssr-styles h2 {
  color: #353839;
  font-size: 20px;
}

.ssr-styles h2:hover {
  color: #189cf0;
  cursor: pointer;
}


/*-----------------------*/


#notfound {
  position: relative;
  height: 80vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound {
  line-height: 1.4;
  text-align: center;
  padding: 0 15px;
}

.notfound h1{
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound button{
  padding: 15px 30px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: transparent;
  font-weight: 400;
}

.notfound button:hover{
  border: none;
  background-color: rgb(46, 43, 43);
  color: #fff;
  font-weight: 400;
}